apiVersion: v1
kind: Service
metadata:
  name: api-gateway-lb
  namespace: ecommerce-microservice-dev
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
    - port: 80
      targetPort: 8080
