apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-config
  template:
    metadata:
      labels:
        app: cloud-config
    spec:
      automountServiceAccountToken: false
      containers:
        - name: cloud-config
          image: dantesiio/ecommerce-backend:cloud-config-181992f417983a52afe990098c1ab043bbad5c36
          ports:
            - containerPort: 9296
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: dev
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-service:8761/eureka/
            - name: SPRING_APPLICATION_JSON
              value: '{"eureka":{"client":{"service-url":{"defaultZone":"http://eureka-service:8761/eureka"}}}}'
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
              ephemeral-storage: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
